---
layout: default
title: Cidney Hamilton
---

<div class="row">
	<div id="welcome">
		<p>
			Hi, I'm Cidney. I'm a freelance web and game developer based out of Palm Bay, Florida. This is where I write about stuff.
		</p>
	</div>
</div>
<div class="row">

	<div class="container">

		<section id="updates" class="col">
			<h2 class="blog-title">Latest Updates</h2>

			<ul>
			  {% for post in site.posts %}
			  	{% if post.category == 'blog' %}
			    <li>
			      <a href="{{ post.url }}">{{ post.title }}</a>
			    </li>
			    {% endif %}
			  {% endfor %}
			</ul>
		</section>

		<section id="contact" class="col">
			<h2 class="contact-title">Contact</h2>

			<p>
				To get in touch with me, send me an <a class="u-email" rel="me" href="mailto:{{ site.email }}">email</a> or a <a rel="me" href="{{ site.mastodon_url }}" target="_blank">toot on Mastodon</a>. I'm also active on the <a href="http://hero-u.net/forum/">Hero-U forums</a>. I'm generally open to inquiries about working together or meeting up if you're visiting Central Florida.
			</p>
		</section>

	</div>
</div>


