<header class="site-header">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <label class="hamburger" type="button" for="hamburger-toggle">
        	<span class="hamburger-inner"></span>
        </label>
        <input type="checkbox" id="hamburger-toggle" />

        <nav class="site-nav">
        	<div class="trigger">
             	<a class="page-link" href="/blog">Blog</a>
             	<a class="page-link" href="/microblog">Notes</a>
            	<a class="page-link" href="/games">Game Portfolio</a>
            </div>
        </nav>
        
    </div>
</header>