<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="personal, website, cidney, hamilton, contact, information">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url | escape }}" />
  
  {% if page.image %}
    <meta property="og:image" content="{{ page.image | prepend: site.url }}" />
  {% else %}
    <meta property="og:image" content="/assets/images/icon.jpg" />
  {% endif %}

  {% if page.id %}
    <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}" />
  {% else %}
    <meta property="og:description" content="{{ site.description }}">
  {% endif %}

  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ page.title }} | {{ site.title }}</title>
  
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

  <!--Social Media Profiles-->
  <link rel="me" href="https://github.com/{{ site.github_username }}" />

  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="{{ site.micropub_url }}">
  
  {% webmentions_head %}

  <!-- Web Actions -->
  <script src="/js/indieconfig.js"></script> 
  <script src="/js/webaction.js"></script>

</head>