<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords" content="personal, website, cidney, hamilton, contact, information">

  {%- seo -%}

  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}">

  <!--Social Media Profiles-->
  <link rel="me authn" href="https://github.com/{{ site.github.username }}" />
  <link rel="me" href="https://twitter.com/{{ site.twitter.username }}" />

  <link rel="authorization_endpoint" href="{{ endpoints.auth }}" />
  <link rel="token_endpoint" href="{{ endpoints.token }}" />
  <link rel="micropub" href="{{ site.micropub_url }}">

  <!-- Web Actions -->
  <script src="{{ "/js/indieconfig.js" | relative_url }}"></script> 
  <script src="{{ "/js/webaction.js" | relative_url }}"></script>

</head>