<aside class="pagination">
	{% assign notes = site.notes | reverse %}
	{% for note in notes %}
        {% if note.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
    {% endfor %}
    {% for note in notes %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = note %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = note %}
        {% endif %}
    {% endfor %}

	<div class="navigation navigation-previous">
		{% if prev_post %}
		<a href="{{ site.baseurl }}{{ prev_post.url }}" title="Previous Post: {{ prev_post.title }}">
			&larr; Previous 
		</a>
		{% endif %}
	</div>

	<section class="navigation navigation-up">
		&uarr; <a href="/microblog/">Back to Top</a>
	</section>

	<div class="navigation navigation-next">
	{% if next_post %}
	<a href="{{ site.baseurl }}{{ next_post.url }}" title="Next Post: {{ next_post.title }}">
		Next  &rarr;
	</a>
	{% endif %}
	</div>
</aside>