
<div class="e-content">
	{{ include.note.content }}
 </div>
{% comment %} Legacy Image Display {% endcomment %}
{% if include.note.image %}
	<p class="u-featured">
		<a href="{{ include.note.image }}"><img class="u-photo" src="{{ include.note.image }}" alt="" /></a>
	</p>
{% endif %}
{% if include.note.mf-photo != null %}
	{% for photo in include.note.mf-photo %}
	<p class="u-featured">
		{% if photo.value != null && photo.alt != null %}
			<a href="{{ photo.value }}">
				<img class="u-photo" src="{{ photo.value }}" alt="{{ photo.alt }}" />
			</a>
		{% else %}
			<a href="{{ photo }}">
				<img class="u-photo" src="{{ photo }}" alt="" />
			</a>
		{% endif %}
	</p>
	{% endfor %}
{% endif %}