 <p class="post-meta">
 	  <time class="dt-published" datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ include.date | date: "%B %d, %Y" }}
    </time>
    {%- if include.author -%}
      &mdash; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ include.author }}</span></span>
    {%- endif -%}

    {% if include.webactions %}
    	{% include webactions.html permalink=include.note_url title=include.title %}
    {% endif %}
</p>