{% if include.permalink != null %}
<indie-action do="post" with="{{ include.permalink | prepend: site.url }}">

	{% capture twitter_url %}{{ site.url }}{{ include.permalink }}{% endcapture %}

	{% capture facebook_url %}{{ include.permalink }}&title={{ include.title }}{% endcapture %}

	<a class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{ twitter_url | url_encode }}&text= {{ include.title | url_encode }}">
		{% include icon-twitter.svg %} Tweet
	</a>

	<a class="facebook-share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ facebook_url | url_encode }}&title={{ include.title | url_encode }}">
		{% include icon-facebook.svg %} Share
	</a> 

</indie-action>
{% endif %}