{% if include.permalink != null %}

<indie-action do="post" with="{{ include.permalink | prepend: site.url }}">

	<span class="tweet-button">
		<a target="_blank" href="http://twitter.com/share" 
	     class="twitter-share-button" 
	     data-url="{{ include.permalink | prepend: site.url }}" 
	     data-text="{{ include.title }}" 
	     data-show-count="false"
	     data-via="t" 
	     data-related="html5now:microformats">{% include icon-twitter.svg %}
	Tweet</a>
	  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

	</span>

</indie-action>

{% endif %}