.blog-index {
	list-style-type: none;
	h2 {
		padding-top: 0;
		line-height: 80%;
	}
	li {
		padding: 1em;
		margin-bottom: 1em;
	}
	.preview {
		padding: 0 1rem;
	}
}

@media screen and (max-width:600px) {

	.blog-index {
		padding: 0;
	}
	
	.blog-content {
		padding: 0;
	}
}