$background-light: #e3f1f6;
$background-medium: #d8f0f5;
$background-dark: #ceeaf1;

$background-lightest: #eef7fa;

$color-background-shadow: $background-dark;

$button-background: #eee;
$button-border: #aaa;
$button-text: #333;

$link-color: #0000EE;
$link-color-hover: #551A8B;
