
header {

	text-align: center;

	h1 {
		font-size: 2em;
		line-height: 100%;
		
	}

	h1.blog-title {

		&:before {
			height: 32px;
			width: 32px;
			padding-right: 6px;
		}
	}

}

.site-header {
	background: linear-gradient($background-light, $background-medium);
	border-bottom: 2px solid $color-background-shadow;
	h1 {
		margin-top: 0.2em;
		padding-left: 0.4em;
	}
}

.site-header .wrapper {
	padding: 0;
}

.header-container {
	max-width: 970px;
	margin: 0 auto;
}


header.post-header {
	text-align: left;

	h2 {
		font-size: 2em;
		a {
			color: black;
		}
	}
}

.blog-title:before {
	content: url('/assets/images/icons/rss32x32.png');
	display: inline-block;
}

@media screen and (max-width: 480px) {
	header h1 {
		font-size: 1.8em;
		margin-bottom: 0.2em;
	}

	header.post-header h2 {
		font-size: 1.6em;
	}
}

