* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: $background-medium;
	background: linear-gradient(90deg, $background-light, $background-medium);
}

a:link {
	text-decoration: none;
	color: $link-color;
}

a:hover {
	color: $link-color-hover;
	transition: color 0.5s ease;
}

a:visited {
	color: $link-color-hover;
}

ul {
	padding: 1em;
}

li {
	p {
		padding: 0 0 1em 0;
	}
}
			
.contact-title:before {
	display: inline-block;
}

h2 {
	padding-top: 1em;
}

#welcome {
	text-align: left;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 2em 2em 2em;
}

.blurb {
	margin: 0 0 2.5em 0;
	font-style: italic;
}

.wrapper {
	padding-top: 1em;
}

@media screen and (max-width:600px) {

	ul, ol {
		margin-left: 10px;
	}

}