$background-light: #e3f1f6;
$background-medium: #d8f0f5;
$background-dark: #ceeaf1;

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
$serif-font-stack: 'EB Garamond', serif;

* {
	margin: 0;
	padding: 0;
}

body {
	background: $background-medium;
	background: linear-gradient(90deg, $background-light, $background-medium);
	font-family: $serif-font-stack;
	font-size: 18px;

}

a {
	text-decoration: none;
}

p {
	padding-top: 1em;
	padding-bottom: 1em;
}

.blog-title:before {
	content: url('/assets/images/icons/rss.png');
	display: inline-block;
}

.contact-title:before {
	display: inline-block;
}

h1.blog-title {

	font-size: 4em;

	&:before {
		height: 48px;
		padding-right: 16px;
		width: 48px;
	}
}

h2 {
	padding-top: 1em;

	&.blog-title:before {
		content: url('/assets/images/icons/rss24x24.png');
		height: 24px;
		padding-right: 8px;
		width: 24px;
	}

	&.contact-title:before {
		content: url('/assets/images/icons/message24x24.png');
		height: 24px;
		padding-right: 8px;
		width: 24px;
	}
}

ul {
	padding: 1em;
}



header {

	text-align: center;

	a {
		color: black;
	}

	h1 {
		font-size: 2.5em;
		margin-top: 6px;
	}

}

header.post-header {
	text-align: left;

	h2 {
		font-size: 2.4em;
	}
}

footer {
	text-align: center;
	font-size: 0.75em;
	padding-top: 2em;
}


#welcome {
	text-align: left;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 32px;
}

.blog-content {
	padding-left: 2em;
}

.blog-nav {
	text-align: center;
	list-style-type: none;
}

.blurb {
	margin: 0 0 2.5em 0;
	font-style: italic;
}

.microblog img {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 4px;
	max-width: 80%;
}

.h-entry, .contents {
	padding: 0 2em 0 2em;
	max-width: 900px;
	margin: 0 auto;
}

.post-content img {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 4px;
	margin: 0 0 0 1em;
	max-width: 35%;
}

.pagination {
	padding: 0 16px;
}

@media screen and (max-width:600px) {

	ul, ol {
		margin-left: 10px;
	}

	.blog-content {
		padding: 0;
	}

	.blog-title {
		font-size: 2em;
	}

	.blog-title:before {
		content: url('/assets/images/icons/rss24x24.png');
		height: 24px;
		width: 24px;
	}
}