.microblog-index {
	max-width: 520px;
	padding: 1em 0;		
}

.microblog {
	font-family: $sans-serif-font-stack;
	font-size: 0.9em;
	p img {
		background-color: #f3f3f3;
		border: 1px solid #ddd;
		padding: 4px;
		max-width: 90%;
	}

	.e-content a {
		overflow-wrap: break-word;
	}

	.h-entry {
		padding: 0;
	}

	footer {
		padding: 0;
	}
}