#fb-root {
	display: inline;
}
indie-action {
	padding-left: 16px;
	a {
		padding-right: 16px;
	}
	svg {
		padding-right: 2px;
		vertical-align: middle;
	}
}

@media screen and (max-width:480px) {

	indie-action {
		display: block;
		padding-left: 0;	
	}
	
}