---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.blog-title:before {
	content: url('/assets/images/icons/rss.png');
	display: inline-block;
	height: 48px;
	padding-right: 16px;
	width: 48px;
}

.blog-title {
	font-size: 4em;
}

.blog-content {
	padding-left: 2em;
}

.blurb {
	margin: 0 0 2.5em 0;
	font-style: italic;
}

.microblog img {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 4px;
	max-width: 80%;
}

.h-entry {
	padding: 0 0 0 2em;
}

.post-content img {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	padding: 4px;
	margin: 0 0 0 1em;
	max-width: 35%;
}

// Search form
.search input[type="search"]{
	background: #fff;
	background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=');
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 15px 16px; 
	padding: 8px 8px 8px 32px;
}

.search button[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;;
}