---
layout: blog
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% include post_header.html %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

	<footer class="post-footer">
		<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
		{% assign title = page.title | strip_html %}
		{% include post_meta.html date=page.date author=site.author webactions=true note_url=page.url title=title %}
	</footer>
  
</article>

{% include blog_footer.html %}

